# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Logs and outputs
*.log
*.json
*.txt

# VS Code configs
.vscode/
